<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <!--配置servlet名称-->
        <servlet-name>hello</servlet-name>
        <!--配置servlet类全名-->
        <servlet-class>com.itheima.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <!--配置servlet名称-->
        <servlet-name>hello</servlet-name>
        <!--servlet请求路径: 必须以/开头
            浏览器访问：http://localhost:8080/day27/hello
        -->
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>
